.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

..row::after, .row::before {
    content: " ";
    display: table;
}

..row::after {
    clear: both;
}
